.form-inputs {
    margin-top: 60px;
    margin-right: auto;
    margin-left: auto;
}

.title {
    margin-top: 40px;
    text-align: center;
}

.button-container {
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
    width: 200px;
    text-align: center;
}

.resultWrapper {
    width: 400px;
    margin: 0 auto;
}

.resultImage {
    width: 400px;
    height: auto;
}

